@model PageListStudentModel
@{
    Layout = "_LayoutTest";
}
<h1>List all student (@Model.WesiteDomain)</h1>
@if (Model!=null && Model.students != null)
{
    foreach (var itm in Model.students)
    {
        <div>@itm.Name</div>
    }
}
else {
<div>Chua co hoc sinh trong lop</div>
}