<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testmvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">testmvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" href="/swagger" target="_blank">Swagger</a>
                        </li>

                        <li>
                            <button class="nav-link text-dark" onclick="app.doCreateRandom()">Create random</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Demo ajax http client call to api</h1>
            <div id="divResult"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - testmvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
            App=function(){
            var $self=this;

            $self.divResult= document.getElementById("divResult");

            $self.doCreateRandom=function(){

                $.ajax({
                    url: '/api/sample/create', // Replace with your API endpoint
                    type: 'POST',
                    contentType: 'application/json', // Specify JSON content
                    data: JSON.stringify({
                        name:"name "+Date(),
                        version: "version_"+ Date()
                    }), // Convert data to JSON string
                    success: function(response) {
                        // Handle success response
                        $self.getAll();
                    },
                    error: function(xhr) {
                        // Handle error response
                    }
                });

            }

            $self.getAll=function(){

                
                $.ajax({
                    url: '/api/sample/getall', // Replace with your API endpoint
                    type: 'GET',
                    contentType: 'application/json', // Specify JSON content
                    data: JSON.stringify({
                        name:"name "+Date(),
                        version: "version_"+ Date()
                    }), // Convert data to JSON string
                    success: function(response) {
                        // Handle success response

                        $self.divResult.innerText= JSON.stringify(response);
                        
                    },
                    error: function(xhr) {
                        // Handle error response
                    }
                });
            }


            return $self;
        }

        var app= App();

        app.getAll();
    </script>
</body>
</html>
